.impact-card {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.impact-card:hover {
  /* transform: translateY(-4px); */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.impact-card-img {
  object-fit: cover;
  /* max-height: 30rem; */
  /* min-height: 25rem; */
  height: 100%;
}

@media (orientation: landscape) {
  .impact-card-img {
    max-height: 25vh;
    min-height: 20vh;
  }
}
@media (orientation: portrait) {
  .impact-card-img {
    max-height: 45vh;
    min-height: 40vh;
  }
}
