body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sun-editor-editable {
  padding: .5rem !important;
  font-size: 16px !important;
}

.text-justify {
  text-align: justify !important;
}

.border-bottom-1 {
  border-bottom: 1px solid !important;
  border-radius: 2px;
}

.border-bottom-2 {
  border-bottom: 2px solid !important;
  border-radius: 2px;
}

.react-parallax-bgimage {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  object-position: center center;
}

.social-icon-container {
  display: flex;
  justify-content: center;
}

.social-icon {
  margin: 0 5px;
}

.nav-on-top {
  background: rgba(0, 0, 0, 0.4) !important;
  height: 72px !important;
  transition: all .5s;
}

.nav-not-on-top {
  /* background: brown!important; */
  height: 56px !important;
  transition: all .5s;
}

.editable {
  position: absolute;
  bottom: 0;
  margin: 10px;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.b-radius-0 {
  border-radius: 0 !important;
}

.list-close {
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  cursor: pointer;
}

.floating-icon {
  position: fixed;
  top: 80px;
  right: 0;
}

.pointer {
  cursor: pointer;
}

.imageUploader {
  position: relative;
}

.imageUploader>input {
  padding-left: 35px;
}

.imageUploader-icon {
  line-height: 1;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
}

.loader-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* not in use */
.card-overlay-body {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-overlay-body:hover {
  opacity: 1;
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.7) !important;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* not in use */

@media (min-width: 992px) {
  .order-lg-1 {
    order: 1 !important;
  }

  .order-lg-0 {
    order: 0 !important;
  }

}

@media (max-width: 768px) {
  .container {
    max-width: none !important;
    padding: 0 10px;
  }
}


@media (min-width: 768px) {
  .order-md-1 {
    order: 1 !important;
  }

  .order-md-0 {
    order: 0 !important;
  }
}